@using System.Globalization;

@{
    ViewBag.Title = "Showtime";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model List<BookingDataAccess.ShowTime>

@*<link href="~/Content/seat-charts/jquery.seat-charts.css" type="text/css" rel="stylesheet" />
<link href="~/Content/customStyle/seatchartsCustom.css" type="text/css" rel="stylesheet" />
<script src="~/Scripts/seat-charts/jquery.seat-charts.min.js"></script>
*@

<style>
    .centeredText {
        text-align: center;
        width: 100%;
        font-weight: bold;
        margin-top: 25%;
        font-size: 11px;
    }

    .takenVip {
        background-image: url('../../Content/images/TakenVip.svg') !important;
    }
    .vipPlaces {
        margin-top: 100% !important;
    }
    .seatDiv {
        border-radius: 4px;
    }

    .openSeat {
        border: 1px solid #3a78c3 !important;
    }

    .takenSeat {
        background-image: url('../../Content/images/takenSeat.svg')
    }

    .bronedSeat {
        border: 1px solid #B9DEA0 !important;
    }

    .disabledSeat {
        border: 1px solid #d3d3d3 !important;
    }
</style>

<script language="Javascript">

    var placeAccessToNumber = {
        0: 'openSeat',
        1: 'takenSeat',
        2: 'bronedSeat',
        3: 'disabledSeat'
    };

    function checkShowUpToDate()
    {
        $('table#showsTable tbody tr').each(function (index, element) {
            if ($(element).find('a').data('checktime') < new Date().getTime() + 80000)
            {
                $(element).addClass('hideMe');
            }
        });
    }

    $(document).ready(function () {

        checkShowUpToDate();
        setInterval(checkShowUpToDate, 60000);
        $('#showsTable').removeClass('invisible');

        $('#placesModal').modal();
        $('.placesButton').click(function () {
            var $this = $(this);
            $.ajax({
                url: '/ShowTime/GetShowPlacesForShowPlace?showtimeId=' + $this.data('showtimeid'),
                success: function (data) {
                    if (data.length > 0) {
                        $('#placeModalTitle').text($this.data('title') + ' в ' + $this.data('cinema'));
                        $('#placesLink').attr('href', $this.data('link'));
                        $('#modalTime').text($this.data('starttime'));

                        var resultHtml = '';

                        var maxheight = 0;

                        for (var i = 0; i < data.length; i++)
                        {
                            if (maxheight < data[i].ShowTimePlaceStyle.Top + data[i].ShowTimePlaceStyle.Height)
                            {
                                maxheight = data[i].ShowTimePlaceStyle.Top + data[i].ShowTimePlaceStyle.Height;
                            }
                            var topStyle =  'top: ' + data[i].ShowTimePlaceStyle.Top + 'px;';
                            var leftStyle = 'left: '+ data[i].ShowTimePlaceStyle.Left + 'px;';
                            var widthStyle = 'width: ' +  data[i].ShowTimePlaceStyle.Width + 'px;';
                            var heightStyle = 'height: ' + data[i].ShowTimePlaceStyle.Height + 'px;';

                            resultHtml += '<div class="seatDiv ' + placeAccessToNumber[data[i].PlaceAccess] + (data[i].ShowTimePlaceStyle.Height > 50 && data[i].PlaceAccess == 1 ? ' takenVip ' : '') + '" style="position:absolute;' + topStyle + leftStyle + widthStyle + heightStyle + '">' + (data[i].PlaceAccess == 1 ? '' : '<div class="centeredText ' + (data[i].ShowTimePlaceStyle.Height > 50 ? 'vipPlaces' : '') + '">' + data[i].PlaceNumber + '</div>') + '</div>';
                        }

                        $('#seatMap').html(resultHtml);

                        $('#seatMap').css('min-height', maxheight + 10 + 'px');
                       
                        $('#placesModal').modal('open');
                    }
                    else {

                    }
                }
            });

        });
    });

    var placesAccessDict = { '0': 'Open', '1': 'Taken', '2': 'Broned' };

    function generateTable(places) {
        var result = '<thead>< tr ><th>Ряд</th><th>Место</th><th>Доступность</th><th></th></tr ></thead ><tbody>';

        for (var i = 0; i < places.length; i++) {
            var currentPlace = places[i];
            result += '<tr><td>' + currentPlace.Row + '</td><td>' + currentPlace.PlaceNumber + '</td><td>' + placesAccessDict[currentPlace.PlaceAccess] + '</td></tr>';
        }

        return result + '</tbody>';

    }

</script>

<div class="section">
    <div class="container">
        <br><br>
        <h2 class="header">Сеансы</h2>
        <br><br>
        <table id="showsTable" class="invisible">
            <thead>
                <tr>
                    <th>Фильм</th>
                    <th>Кинотеатр</th>
                    <th>Начало сеанса</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var showtime in Model)
                {
                    var time = showtime.StartTime.ToString("m", CultureInfo.CreateSpecificCulture("ru-RU")) + " " + showtime.StartTime.ToString("t", CultureInfo.CreateSpecificCulture("ru-RU"));
                    <tr>
                        <td>@showtime.Movie.Title</td>
                        <td>@showtime.CinemaHall.Cinema.Title</td>
                        <td>@time</td>
                        <td><a data-link="@showtime.Link" data-checktime="@((showtime.StartTime.ToUniversalTime() -  new DateTime(1970, 1, 1)).Ticks /TimeSpan.TicksPerMillisecond)" data-starttime="@time" data-title="@showtime.Movie.Title" data-cinema="@showtime.CinemaHall.Cinema.Title" data-showtimeid="@showtime.ShowTimeId" class=" placesButton waves-effect waves-light btn orange">Места</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <br><br>
    </div>
</div>

<div id="placesModal" class="modal modal-fixed-footer">
    <div id="placesContent" class="modal-content">
        <h4 id="placeModalTitle" class="centerText">Film Title</h4>
        <p id="modalTime" class="centerText"></p>
        <div id="seatMap" style="position:relative;"></div>
    </div>
    <div class="modal-footer">
        <a id="placesLink" target="_blank" href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Купить билеты можно здесь</a>
    </div>
</div>

